<div class="d-flex justify-content-center mt-3">

  <h1 class="text-primary">Nos Grossipeurs</h1><br/>
	<br/>
	
</div>
<div class="d-flex justify-content-center">
	<h4 class="text-secondary">Il y a déjà <%= User.all.length %> langues de pute enregistrées sur notre site.</h4>
	<br/>
	
</div>

<br/>



<section class="d-flex justify-content-center">

<div class="bg-secondary p-5 w-50">
<br/>
  <h3 class="text-danger"><%= User.find(params[:id]).username %></h3><br>
  <p><strong>Prénom</strong> : <%= User.find(params[:id]).first_name %></p>
  <p><strong>Nom</strong> : <%= User.find(params[:id]).last_name %></p>
 
  <p><strong>Age</strong> : <%= User.find(params[:id]).age %></p>
  <p><strong>Email</strong> : <%= User.find(params[:id]).email %></p>
  <p><strong>Ville</strong> : <a href="<%= city_path(User.find(params[:id]).city.id) %>"><%= User.find(params[:id]).city.name %></a></p>
  <p><strong>Description</strong> : <%= User.find(params[:id]).description %></p>
  <p><strong>Gossips postés</strong> :</p>
  <% User.find(params[:id]).gossips.each do |gossip| %>
  <p>
    <%= gossip.title %><br/>
    <%= gossip.content %><br/>
    <%= link_to 'Voir le gossip', gossip_path(gossip.id) %>
  </p>
  <% end %>
</div>
</section>