<section class="d-flex justify-content-center mt-4">
<div class="w-50 ">
<div class="d-flex justify-content-center mt-3">
    <h1 class="text-danger"><%= User.find(params[:id]).username %></h1><br>
</div>
<div class="d-flex justify-content-center">
	<h4 class="text-secondary"><%= User.find(params[:id]).description %></h4>
</div>


  <p class="d-flex justify-content-center"><strong>Prénom</strong> : <%= User.find(params[:id]).first_name %></p>
  <p class="d-flex justify-content-center"><strong>Nom</strong> : <%= User.find(params[:id]).last_name %></p>
 
  <p class="d-flex justify-content-center"><strong>Age</strong> : <%= User.find(params[:id]).age %></p>
  <p class="d-flex justify-content-center"><strong>Email</strong> : <%= User.find(params[:id]).email %></p>
  <p class="d-flex justify-content-center"><strong>Ville</strong> : <a href="<%= city_path(User.find(params[:id]).city.id) %>"><%= User.find(params[:id]).city.name %></a></p>
  <p class="d-flex justify-content-center"><strong>Gossips postés</strong> :</p>
  <% User.find(params[:id]).gossips.each do |gossip| %>
  <p>
    <%= gossip.title %><br/>
    <%= gossip.content %><br/>
    <%= link_to 'Voir le gossip', gossip_path(gossip.id) %>
  </p>
  <% end %>
</div>
</div>
</section>