<section class="d-flex justify-content-center">
<div>
<br/>
  <h3 class="text-danger"><%= User.find(params[:user_id]).username %></h3><br>
  <p><strong>Prénom</strong> : <%= User.find(params[:user_id]).first_name %></p>
  <p><strong>Nom</strong> : <%= User.find(params[:user_id]).last_name %></p>
 
  <p><strong>Age</strong> : <%= User.find(params[:user_id]).age %></p>
  <p><strong>Email</strong> : <%= User.find(params[:user_id]).email %></p>
  <p><strong>Ville</strong> : <%= User.find(params[:user_id]).city %></p>
  <p><strong>Description</strong> : <%= User.find(params[:user_id]).description %></p>
  <p><strong>Gossips postés</strong> :</p>
  <% User.find(42).gossips.each do |gossip| %>
  <p>
    <%= gossip.title %><br/>
    <%= gossip.content %><br/>
    <%= link_to 'Voir le gossip', gossips_path(gossip.id) %>
  </p>
  <% end %>
</div>
</section>