<div class="d-flex justify-content-center mt-3">

  <h1 class="text-info font-italic"><%=City.find(params[:id]).name %></h1><br/>
	<br/>
	
</div>
<div class="d-flex justify-content-center">
	<h5 class="text-secondary text-center">L'ensemble des gossips de <%=City.find(params[:id]).name %>.</h5>
	<br/>
	
</div>

<br/>

<section class="d-flex justify-content-center">
<div>


<% City.find(params[:id]).users.each do |user| %>
<% user.gossips.each do |gossip| %>
 <div class="card">
  <div class="card-header">
  <h5 class="card-title d-flex justify-content-center"><%= gossip.title %></h5>
  </div>
  <div class="card-body ">
    <p class="card-text"><%= gossip.content %></p>
    <p class="far fa-eye text-primary mr-2"><%= link_to 'Voir le gossip', gossip_path(gossip.id) %></p>
  </div>
  <br/>
</div>
<% end %>
<% end %>
<div>
<section>


