<!DOCTYPE html>
<html>
  <head>
    <title>ProjectG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/united/bootstrap.min.css" crossorigin="anonymous">

    <script>https://code.jquery.com/jquery-3.3.1.js    </script>
    
    <script>https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js</script>
    
    <script>https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js</script>



         <script>
$(document).ready(function() {
    $('#test').DataTable();
} );
    </script>


  </head>
  <body >
     <nav class="navbar navbar-expand-lg navbar  bg-dark ">
   <a class="navbar-brand text-white bg-dark" <%= link_to 'The Grossip Project', gossips_path %></a>
   <i class="far fa-kiss-wink-heart text-danger " style="font-size: 1.5em;"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-dark d-flex justify-content-end" id="navbarNav">
    <ul class="navbar-nav bg-dark">
      <li class="nav-item">
        <a class="nav-link text-white" <%= link_to 'Crée ton Grossip', new_gossip_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" <%= link_to 'La team', team_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " <%= link_to 'Contact', contact_path %></a>
      </li>
     </ul>
</div>
</nav>

    <%= yield %>
 
  </body>
</html>

