<!DOCTYPE html>
<html>

  <head>

    <title>The Grossip Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Script Table Gossips#index -->

    <script src="https://code.jquery.com/jquery-3.3.1.js">    </script>
    
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <!-- Bootstrap CSS -->

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/united/bootstrap.min.css" crossorigin="anonymous">

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>

  <body >
    <nav class="navbar navbar-expand-lg navbar  bg-bx ">
      <a class="navbar-brand text-white bg-bx" <%= link_to 'The Grossip Project', gossips_path %></a>
      <i class="far fa-kiss-wink-heart text-danger mr-4 " style="font-size: 1.5em;"></i>

      <div class="collapse navbar-collapse bg-bx" id="navbarNav">
        <ul class="navbar-nav bg-bx">
          <li class="nav-item">
            <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong" <%= link_to 'Créer un Grossip' %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" <%= link_to 'La team', team_path %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " <%= link_to 'Contact', contact_path %></a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse bg-bx d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav bg-bx">
          <li class="nav-item">
            <% if logged_in? %>
            <%= link_to 'Déconnexion', session_path(session[:user_id]), class:'login text-decoration-none', method: :delete %>
            <% else %>
            <%= link_to 'Connexion', new_session_path, class:'login text-decoration-none' %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
 
<!-- Modal Create Grossip-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class=" text-primary modal-title" id="exampleModalLongTitle">Création d'un nouveau Grossip</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="d-flex justify-content-center">

<% if @gossip != nil %>
  <% if @gossip.errors.any? %>
    <ul class="text-danger list-unstyled">
      <% @gossip.errors.each_with_index do |message, i| %>
        <li><i class="fab fa-accessible-icon text-danger mr-2"></i><%= message[1] %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
</section>

<section class="d-flex justify-content-center">

<form action='/gossips/' method='POST'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <div class="d-flex justify-content-center">
      <input type='text' name='gossip_title' placeholder='Ton titre'/><br/>
      </div>
      <div class="d-flex justify-content-center mt-3">
      <input type='text' name='gossip_content' placeholder='Ton potin'/><br/>
      </div>
      <div class="modal-footer d-flex justify-content-center mt-3">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary" value='Envoyer'>Envoyer</button>
      </div>
</form>
</section>
      </div>


    </div>
  </div>
</div>


  </body>
</html>

